<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TravelUp</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ActivationAccount</servlet-name>
    <servlet-class>com.epam.travelup.signup.servlet.ActivationAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePortfolio</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.DeletePortfolioServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditPortfolio</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.EditPortfolioServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitPortfolio</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.SubmitPortfolioServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserImage</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.UserImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditPassword</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.EditPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserPage</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.StartUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.epam.travelup.admin.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>com.epam.travelup.admin.servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.epam.travelup.signup.servlet.SignUpStartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.epam.travelup.signup.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.epam.travelup.signup.servlet.LoginStartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.epam.travelup.signup.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmLogin</servlet-name>
    <servlet-class>com.epam.travelup.signup.servlet.ConfirmLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyUser</servlet-name>
    <servlet-class>com.epam.travelup.signup.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmSignUp</servlet-name>
    <servlet-class>com.epam.travelup.signup.servlet.ConfirmSignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Tours</servlet-name>
    <servlet-class>com.epam.travelup.tour.servlet.TourServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LanguageChange</servlet-name>
    <servlet-class>com.epam.travelup.locaization.servlet.LanguageChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchTour</servlet-name>
    <servlet-class>com.epam.travelup.tour.servlet.SearchTourServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImgLoader</servlet-name>
    <servlet-class>com.epam.travelup.img.servlet.ImgLoaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Request</servlet-name>
    <servlet-class>com.epam.travelup.request.RequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveRequest</servlet-name>
    <servlet-class>com.epam.travelup.request.SaveRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectedTour</servlet-name>
    <servlet-class>com.epam.travelup.tour.servlet.SelectedTourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyUser</servlet-name>
    <url-pattern>/verifyuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmSignUp</servlet-name>
    <url-pattern>/confirmsignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmLogin</servlet-name>
    <url-pattern>/confirmlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/search_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Tours</servlet-name>
    <url-pattern>/tours</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivationAccount</servlet-name>
    <url-pattern>/activationaccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LanguageChange</servlet-name>
    <url-pattern>/language</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/edituser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/userpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPassword</servlet-name>
    <url-pattern>/editpassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserImage</servlet-name>
    <url-pattern>/userimage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitPortfolio</servlet-name>
    <url-pattern>/createportfolio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPortfolio</servlet-name>
    <url-pattern>/editportfolio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePortfolio</servlet-name>
    <url-pattern>/deleteportfolio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchTour</servlet-name>
    <url-pattern>/search_tour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgLoader</servlet-name>
    <url-pattern>/loader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/request </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveRequest</servlet-name>
    <url-pattern>/saverequest </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectedTour</servlet-name>
    <url-pattern>/tour</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>com.epam.travelup.filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LangFilter</filter-name>
    <filter-class>com.epam.travelup.filter.SetLanguageFilter</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Parameter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LangFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <description>Location to store uploaded avatars</description>
    <param-name>file-upload</param-name>
    <param-value>
        /images/user-pictures
     </param-value>
  </context-param>
  <listener>
    <listener-class>com.epam.travelup.img.listener.ImgLocationContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>imagesPath</param-name>
    <param-value>images/upload/</param-value>
  </context-param>
  <servlet>
    <servlet-name>Gallery</servlet-name>
    <servlet-class>com.epam.travelup.multimedia.servlet.Gallery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gallery</servlet-name>
    <url-pattern>/gallery </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>com.epam.travelup.tour.servlet.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyTour</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.BuyTourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyTour</servlet-name>
    <url-pattern>/buytour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveOrder</servlet-name>
    <servlet-class>com.epam.travelup.user.servlet.RemoveOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveOrder</servlet-name>
    <url-pattern>/removeorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.epam.travelup.admin.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTour</servlet-name>
    <servlet-class>com.epam.travelup.admin.servlet.StartCreateTourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTour</servlet-name>
    <url-pattern>/createtour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectedPlace</servlet-name>
    <servlet-class>com.epam.travelup.place.servlet.SelectedPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedPlace</servlet-name>
    <url-pattern>/place</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPlace</servlet-name>
    <servlet-class>com.epam.travelup.place.servlet.AddPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlace</servlet-name>
    <url-pattern>/addplace</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Places</servlet-name>
    <servlet-class>com.epam.travelup.place.servlet.PlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Places</servlet-name>
    <url-pattern>/places</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>About</servlet-name>
    <servlet-class>com.epam.travelup.about.servlet.AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitTour</servlet-name>
    <servlet-class>com.epam.travelup.admin.servlet.SubmitTourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitTour</servlet-name>
    <url-pattern>/submittour</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/error500.jsp</location>
	</error-page>
	<error-page>
    <error-code>404</error-code>
    <location>/pages/error404.jsp</location>
	</error-page>
</web-app>

