@CHARSET "UTF-8";
		 
.detailBox {
    width:570px;
    border: 1px solid #e0e5e9;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:400px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:20px;
    border-top:1px dotted #bbb;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:47px;
    margin-right:5px;
    padding-right: 5px;
    height:100%;
    float:left;
    border-right:1px dotted #bbb;
}
.userNameComment{
	font-size:10px;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
    margin-top: 5px;
    padding-left: 5px;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
    padding-left: 5px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
		 
		 
		 
		 .in-same-line h2{
		 	text-align:left;
		 	float:left;
		 }
		 .in-same-line h1{
		 	text-align:right;
		 	float:left;
		 }
		 .in-same-line b{
		 	float:right;
		 	text-align:left;
		 }
		 
		 #map-canvas {
		        height: 360px;
		        width: 567px;
		        margin-left: auto;
		        margin-right: auto;
		 
		        padding: 0px
		      }
		  
		 .center-button {
		 	width: 160px;
		 	margin-top: 30px;
		 	margin-left: auto;
		 	margin-right: auto;
		 }
		      